<!doctype html>
<html>
  <head>
    <title>Locus &raquo; [% title %]</title>
	<meta charset="UTF-8">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js'></script>
    <style type="text/css">

h1 {
 margin: 0px;
 color: #036;
}
h2 {
 background: #036;
 color: white;
 margin: 10px 0px 3px 0px;
 padding-left: 1px;
}
table.input {
}
table.results {
 width: 100%;
 border: thin solid gray;
 border-collapse: collapse;
}
table.results tr:hover {
 background: #aaa;
}
table.results th, table.results td {
 border: thin solid gray;
}
table.results th {
 background: #ddd;
 width: 33%;
}
table.results td {
  /* font-family: monospace; */
  /* font-size: smaller; */
  vertical-align: middle;
}
table.results td.query {
 background: #cfc;
}
div.examples {
  float: right;
  background: lightgray;
  border: thin solid darkgray;
}

a.svlink, a.mutlink {
 border: thin solid green;
 background: green;
 color: white;
 text-decoration: none;
 float: right;
 margin: 0px 2px;
 font-weight: bold;
 font-size: smaller;
}
a.svlink:after {
 content: 'sv->';
}
a.mutlink:after {
 content: 'mut->';
}
a.resultslink {
 float:right;
 background: lightgray;
 font-size: smaller;
 text-decoration: none;
}
span.query {
 background: #cfc;
}
table.header {
 border-bottom: thin solid #999;
}
table.header td {
  vertical-align: top;
}
div.quote {
  border-left: thin solid gray;
  margin-left: 0px 0px 0px 2px;
  padding-left: 2px;
  font-style: italic;
  font-size: smaller;
  color: gray;
  float: right;
}
div.subtitle {
  margin: 0px;
  font-size:smaller;
}
div.footer {
 color: #777;
 background: #ddd;
 border-top: thin solid #999;
 font-size: smaller;
 margin-top: 10px;
}
p.warning {
 border: thin red solid;
 color: red;
 padding: 1px;
 text-align: center;
 margin-left: 10%;
 margin-right: 10%;
}
br.sync {
  clear:both;
}
.error {
  background: #fcc;
  font-size: smaller;
  font-style: italic;
}
    </style>

<script>
/* From http://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit */
function post_to_url(path, params) {
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", path);
    form.setAttribute("target", "_blank");
    for(var key in params) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", params[key]);
        form.appendChild(hiddenField);
    }
    document.body.appendChild(form);
    form.submit();
}
function mutalyze_this(variant) {
  post_to_url(
	'http://www.mutalyzer.nl/2.0/positionConverter',
    { 'build': 'hg19', 'variant': variant });
}
</script>

  </head>

  <body>

  <table class="header">
	<tr>
  	  <td style="width: 60%">
		<h1>Locus &raquo; [% title %]</h1>
		<div class="subtitle"> Interconvert chromosomal, transcript, and protein
		variants specified according to <a
        href="http://www.hgvs.org/mutnomen/">HGVS nomenclature for sequence
        variants</a></div>
  	  </td>
  	  <td>
		<div class="quote" style="float:right;" title="exactly so when one
        finishes a Perl project">
        I had desired it with an ardour that far exceeded moderation; but now
        that I had finished, the beauty of the dream vanished, and breathless
        horror and disgust filled my heart.  -- Frankenstein, Mary Shelley
		</div>
	  </td>
	</tr>
  </table>

  <p class="warning">
  Note: This is a work-in-progress.  There are known bugs, including those
  which map variants incorrectly.  Please see the list
  of <a target="_blank"
  href="https://bitbucket.org/reece/bio-hgvs-perl/issues?status=new&amp;status=open&amp;sort=milestone">
  bugs and planned features</a>. Please add any bugs or feature requests
  there.
  </p>


  <h2>Input</h2>

  <div>
  <div class="examples">
	<form>
	Sample translations:<br>
	<select name="examples" onChange="location.href=examples.options[selectedIndex].value">
	  <option disabled>Select sample...</option>
	  <optgroup label="Examples">
		<option value="hgvs-web-translator?variants=NC_000007.13%3Ag.100231138T%3EA%2CNM_003227.3%3Ac.515A%3ET%2CNP_003218.2%3Ap.Met172Lys">NM_003227.3:c.515A&gt;T cross-check</option>
		<option value="hgvs-web-translator?variants=NC_000007.13%3Ag.100225851A%3EC%2CNM_003227.3%3Ac.1469T%3EG%2CNP_003218.2%3Ap.Leu490Arg">NM_003227.3:c.1469T&gt;G cross-check</option>
	  </optgroup>
	  <optgroup label="Tests">
		<option value="hgvs-web-translator?variants=NM_130799.2%3Ac.-6C%3EG%2CNM_130799.2%3Ac.-2_2C%3EG%2CNM_130799.2%3Ac.-2C%3EG%2CNM_130799.2%3Ac.-1C%3EG%2CNM_130799.2%3Ac.0C%3EG%2CNM_130799.2%3Ac.1C%3EG%2CNM_130799.2%3Ac.2C%3EG%2CNM_130799.2%3Ac.3C%3EG%2CNM_130799.2%3Ac.1828C%3EG%2CNM_130799.2%3Ac.1829C%3EG%2CNM_130799.2%3Ac.1830C%3EG%2CNM_130799.2%3Ac.1831C%3EG%2CNM_130799.2%3Ac.1832C%3EG">c. around position 0</option>
	  </optgroup>
	</select>
	</form>
  </div>

  <span style="float:right; width=30%">&nbsp;</span>

  <form method="post">
  <table class="input">
    <tr style="vertical-align:top">
      <td>
		Enter HGVS variants:
		<br><span style="color:gray; font-size:smaller">Multiple variants
		  okay, separated by whitespace</span>
      </td>

      <td>
		<textarea name="variants" rows=3 cols=40 required="required"
				  placeholder="e.g., NM_003227.3:c.2137A>T"></textarea>
      </td>

      <td>
		<input type="submit" name="submit" value="Translate"/>
	  </td>
    </tr>
  </table>
  </form>
  </div>


[%- IF results.size > 0 %]
[%- USE cell_formatter = CellFormatter %]
  <h2>Results ([% results.size %])</h2>
  <div>
	<a class="resultslink" href="[% resultslink %]">Link to these results</a>
	<b>Legend:</b> <span class="query">Input variant</span> | <span class="error">Error</span>
  </div>

  <table class="results">
    <thead>
      <tr>
        <th>genomic (g.)</th>
        <th>transcript (c., r.)</th>
        <th>protein (p.)</th>
      </tr>
    </thead>
    <tbody>
    [%- FOREACH r IN results %]
      <tr>
      [%- IF r.error %]
       <td colspan=3 class="error">[% r.error %]</td>
       [%- ELSE %]
       [%- IF r.query_type == 'g' %]
       <td class="query">[% r.g.0 %] <a class="mutlink" href="javascript:mutalyze_this('[%r.g.0%]')" title="send [%r.g.0%] to Mutalyzer"></a> <a target="_blank" class="svlink" title="view [%r.g.0.ref%] in NCBI Sequence Viewer" href="http://www.ncbi.nlm.nih.gov/projects/sviewer/?id=[%r.g.0.ref%]"></a></td>
       [%- ELSE %]
       <td>[% cell_formatter(r.g) %]</td>
       [%- END %]
       [%- IF r.query_type == 'c' %]
       <td class="query">[% r.c.0 %] <a class="mutlink" href="javascript:mutalyze_this('[%r.c.0%]')" title="send [%r.c.0%] to Mutalyzer"></a> <a target="_blank" class="svlink" title="view [%r.c.0.ref%] in NCBI Sequence Viewer" href="http://www.ncbi.nlm.nih.gov/projects/sviewer/?id=[%r.c.0.ref%]"></a></td>
       [%- ELSE %]
       <td>[% cell_formatter(r.c) %]</td>
       [%- END %]
       [%- IF r.query_type == 'p' %]
       <td class="query">[% r.p.0 %] <span style="float:right" title="Mutalyzer doesn't support protein-based queries">mut</span> <a target="_blank" class="svlink" title="view [%r.p.0.ref%] in NCBI Sequence Viewer" href="http://www.ncbi.nlm.nih.gov/projects/sviewer/?id=[%r.p.0.ref%]"></a></td>
       [%- ELSE %]
       <td>[% cell_formatter(r.p) %]</td>
       [%- END %]
       [%- END %] [%# error/not error %]
      </tr>
    [%- END %] [%# row loop %]
    </tbody>
  </table>
[%- END %] [%# if results %]


<div class="footer">
<div style="float:right">
<a target="_blank" href="https://bitbucket.org/reece/bio-hgvs-perl/">Code</a>
<span style="margin:0px 5px;">|</span>
<a target="_blank" href="https://bitbucket.org/reece/bio-hgvs-perl/issues?status=new&amp;status=open&amp;sort=milestone">Issue Tracker</a>
<span style="margin:0px 5px;">|</span>
<a target="_blank" href="https://bitbucket.org/reece/bio-hgvs-perl/changesets">Change Log</a>
<span style="margin:0px 5px;">|</span>
<a target="_blank" href="http://validator.w3.org/check?uri=[%resultslink%]">Validate HTML</a>
</div>

Translator Version: [% info.hg.tag %] / [% info.hg.changeset %] / [% info.hg.date %]
<span style="margin:0px 5px;">|</span>
Data: <a target="_blank" href="http://www.ensembl.org">EnsEMBL</a> [% info.ensembl_version %]
</div>
