<!doctype html>
<html>
  <head>
    <title>Locus &raquo; [% title %]</title>
    <script language="javascript" src=
    'http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js'></script>
    <style type="text/css">

h1 {
 margin: 0px;
 color: blue;
}
h2 {
 background: #036;
 color: white;
 margin: 10px 0px 3px 0px;
 padding-left: 1px;
}

table.results {
 width: 100%;
 border: thin solid gray;
 border-collapse: collapse;
}
table.results tr:hover {
 background: #aaa;
}
table.results th, table.results td {
 border: thin solid gray;
}
table.results th {
 background: #ddd;
 width: 33%;
}
/* deferred/experimental change
table.results td {
  font-family: monospace;
  font-size: smaller;
}
*/
table.results td.query {
 background: #cfc;
}

span.query {
 background: #cfc;
}
table.header {
 border-bottom: thin solid #999;
}
table.header td {
  vertical-align: top;
}
div.quote {
  border-left: thin solid gray;
  margin-left: 0px 0px 0px 2px;
  padding-left: 2px;
  font-style: italic;
  font-size: smaller;
  color: gray;
  float: right;
}
div.subtitle {
  margin: 0px;
  font-size:smaller;
}
div.footer {
 color: #777;
 background: #ddd;
 border-top: thin solid #999;
 font-size: smaller;
 margin-top: 10px;
}
p.note {
 margin: 5px;
 color: red;
 font-size: smaller;
 padding: 1px;
 text-align: center;
}
br.sync {
  clear:both;
}
.error {
  background: #fcc;
  font-size: smaller;
  font-style: italic;
}
    </style>

<script language="javascript">
/* From http://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit */
function post_to_url(path, params) {
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", path);
    form.setAttribute("target", "_blank");
    for(var key in params) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", params[key]);
        form.appendChild(hiddenField);
    }
    document.body.appendChild(form);
    form.submit();
}
function mutalyze_this(variant) {
  post_to_url(
	'http://www.mutalyzer.nl/2.0/positionConverter',
    { 'build': 'hg19', 'variant': variant });
}
</script>

  </head>

  <body>

  <table class="header">
	<td width="60%">
    <h1>Locus &raquo; [% title %]</h1>
    <div class="subtitle"> Interconvert chromosomal, transcript, and protein
    variants specified according to <a
    href="http://www.hgvs.org/mutnomen/">HGVS nomenclature for sequence
    variants</a></div>
	</td>
	<td><div class="quote" style="float:right;" title="exactly so when one
    finishes a Perl project">
    I had desired it with an ardour that far exceeded moderation; but now
    that I had finished, the beauty of the dream vanished, and breathless
    horror and disgust filled my heart.  -- Frankenstein, Mary Shelley
    </div></td>
	</tr>
  </table>

  <p class="note">
  Note: This is a work-in-progress. Please see the list of <a target="_blank"
  href="https://bitbucket.org/reece/bio-hgvs-perl/issues?status=new&status=open&sort=milestone">
  bugs and planned features</a>. Please add any bugs or feature requests
  there.</p>


  <h2>Input</h2>
  <form action="" method="post">
  <table>
    <tr style="vertical-align:top">
      <td style"width:20%">Enter HGVS variants:
      <br><span style="color:gray; font-size:smaller">Multiple variants
      okay, separated by whitespace</span>
      </td>

      <td><textarea name="variants" rows=3 cols=40
      required="required" placeholder="e.g., NM_003227.3:c.2137A>T"/></textarea>
      </td>

      <td><input type="submit" name="submit" value="Translate"/></td>
    </tr>
  </table
  </form>

[%- IF results.size > 0 %]
[%- USE cell_formatter = CellFormatter %]
  <h2>Results ([% results.size %])</h2>
  <b>Legend:</b> <span class="query">Input variant</span> | <span class="error">Error</span>
  <table class="results">
    <thead>
      <tr>
        <th>genomic (g.)</th>
        <th>transcript (c., r.)</th>
        <th>protein (p.)</th>
      </tr>
    </thead>
    <tbody>
    [%- FOREACH r IN results %]
      <tr>
      [%- IF r.error %]
       <td colspan=3 class="error">[% r.error %]</td>
       [%- ELSE %]
       [%- IF r.query_type == 'g' %]
       <td class="query"><a href="javascript:mutalyze_this('[%r.g.join('')%]')" title="send [%r.g.join('')%] to Mutalyzer">[% cell_formatter(r.g) %]</a></td>
       [%- ELSE %]
       <td>[% cell_formatter(r.g) %]</td>
       [%- END %]
       [%- IF r.query_type == 'c' %]
       <td class="query"><a href="javascript:mutalyze_this('[%r.c.join('')%]')" title="send [%r.c.join('')%] to Mutalyzer">[% cell_formatter(r.c) %]</a></td>
       [%- ELSE %]
       <td>[% cell_formatter(r.c) %]</td>
       [%- END %]
       [%- IF r.query_type == 'p' %]
       <td class="query"><span title="Mutalyzer doesn't support protein-based queries">[% cell_formatter(r.p) %]</a></td>
       [%- ELSE %]
       <td>[% cell_formatter(r.p) %]</td>
       [%- END %]
       [%- END %] [%# error/not error %]
      </tr>
    [%- END %] [%# row loop %]
    </tbody>
  </table>
[%- END %] [%# if results %]


<div class="footer">
<div style="float:right">
<a target="_blank" href="https://bitbucket.org/reece/bio-hgvs-perl/">Code</a>
<span style="margin:0px 5px;">|</span>
<a target="_blank" href="https://bitbucket.org/reece/bio-hgvs-perl/issues?status=new&status=open&sort=milestone">Issue Tracker</a>
<span style="margin:0px 5px;">|</span>
<a target="_blank" href="https://bitbucket.org/reece/bio-hgvs-perl/changesets">Change Log</a>
</div>

Translator Version: [% info.hg.tag %] / [% info.hg.changeset %] / [% info.hg.date %]
<span style="margin:0px 5px;">|</span>
Data: <a target="_blank" href="http://www.ensembl.org">EnsEMBL</a> [% info.ensembl_version %]
</div>
